.account-login-container {
  background-color: #fff;
  border-radius: 72px;
  width: 30vw;
  height: 70vh;
  box-shadow: 10px 10px 60px 0px rgba(0, 0, 0, 0.43);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-left: 30px;
  padding-right: 30px;
}
.account-login-header {
  margin-top: 10px;
  margin-bottom: 10px;
}
.account-login-text {
  color: #302f45;
  font-size: 29px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.login-information-container {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.login-funtion {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}
.remember-check-box-container {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.remember-me-check-box-description {
  color: #3e3f5e;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.forgot-password {
  color: #afb0c0;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.log-in-button {
  background-color: #615dfa;
  width: 23vw;
  height: 7.5vh;
  color: #fff;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  border-radius: 10px;
  border: none;
  margin-bottom: 20px;
  transition-property: background-color;
  transition-duration: 500ms;
}
.log-in-button:hover {
  background-color: #514dd2;
}
.login-method-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.log-in-medthod-description {
  color: #3e3f5e;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.log-in-medthod-description {
  margin-bottom: 20px;
}
.method-list-container {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}
.facebook-method-icon,
.google-method-icon,
.twitter-method-icon {
  cursor: pointer;
}

.MuiInputBase-input.MuiOutlinedInput-input {
  color: #3e3f5e;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.login-welcome-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 30vw;
  height: 60vh;
  color: #fff;
}
.login-logo {
  width: 80px;
}
.login-welcome-text {
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.app-name-text {
  font-family: Baloo;
  font-size: 40px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}
.app-description-text {
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  width: 80%;
  padding: 10px;
  text-align: center;
  margin-bottom: 20px;
}
.authentication-login-button {
  width: 10vw;
  height: 50px;
  background-color: #fff;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  border: 1px solid #fff;
  border-right: none !important;
  color: #fff;
  border-radius: 10px 0px 0px 10px;
  transition-property: background-color;
  transition-duration: 500ms;
}
.authentication-register-button {
  width: 10vw;
  height: 50px;
  background-color: #fff;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  color: #fff;
  line-height: normal;
  border: 1px solid #fff;
  border-left: none !important;
  border-radius: 0 10px 10px 0;
  transition-property: background-color;
  transition-duration: 500ms;
}
.authentication-register-button:hover {
  cursor: pointer;
  background-color: #5d5cb5;
}
.authentication-login-button:hover {
  cursor: pointer;
  background-color: #5d5cb5;
}
.authentication-choice-button {
  background-color: #615dfa !important;
  transition-property: background-color;
  transition-duration: 500ms;
}
